<body>
  <div
    class="bgoverlay"
    id="scoreboard"
    style="
      background-color: rgba(0, 0, 0, 0);
      background-image: url(../../images/sports/basketball.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      display: inline;
    "
  >
    <div
      id="score-wsu"
      style="
        width: 7vw;
        text-align: center;
        position: absolute;
        top: 82.5vh;
        left: 0vw;
        font-size: 8vh;
        color: #ffffff;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      "
    >
      0
    </div>
    <div
      id="score-opp"
      style="
        width: 7vw;
        text-align: center;
        position: absolute;
        top: 82.5vh;
        left: 92.5vw;
        font-size: 8vh;
        color: #ffffff;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
      "
    >
      0
    </div>

    <div
      id="num-wsu"
      style="
        width: 7vw;
        text-align: center;
        position: absolute;
        top: 94.5vh;
        left: 0vw;
        font-size: 3.5vh;
        color: #000000;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
      "
    ></div>
    <div
      id="num-opp"
      style="
        width: 7vw;
        text-align: center;
        position: absolute;
        top: 94.5vh;
        left: 92.5vw;
        font-size: 3.5vh;
        color: #000000;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
      "
    ></div>

    <div
      id="text-wsu"
      style="
        width: 33vw;
        text-align: center;
        position: absolute;
        top: 94.5vh;
        left: 9.3vw;
        font-size: 3.5vh;
        color: #000000;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
      "
    ></div>
    <div
      id="text-opp"
      style="
        width: 33vw;
        text-align: center;
        position: absolute;
        top: 94.5vh;
        left: 56vw;
        font-size: 3.5vh;
        color: #000000;
        text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
      "
    ></div>
  </div>

  <script
    src="../../plugins/wwsu-sports/overlay.js?t=<%= timestamp %>"
    defer
  ></script>
</body>
