<script>
    window.wwsuNavigationCallback = (modules) => {
  
      // We have to get a bit hacky for this to work
      modules.get("WWSUblogsweb").loadBlogPost(<%= postID %>, (post) => {
        modules.get("WWSUNavigation").addItem(
          ".nav-blog-direct",
          "#section-blog",
          `${post.title} - WWSU 106.9 FM`,
          `/blog/${post.ID}/${modules.get("WWSUblogsweb").toMonikor(post.title)}`,
          false,
          (e, popState) => {
            // Do nothing; we already loaded the blog post
          }
        );
        modules.get("WWSUNavigation").processMenu(".nav-blog-direct");
      });
    };
  </script>