<!-- Reconnecting screen -->
<div
  class="wrapper bg-black text-danger"
  id="reconnecting"
  style="text-align: center; height: 100vh; width: 100vw; z-index: 999999"
>
  <div
    class="spinner-border text-warning"
    role="status"
    style="font-size: 25vw"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <h1>Lost Connection to WWSU</h1>
  <h3>
    Attempting to reconnect. Connection loss could be from a bad network
    connection or WWSU's server rebooting.
  </h3>
</div>

<!-- All other content -->
<div class="content-wrapper">
  <div class="content">
    <h1 class="text-center" style="font-size: 5vh">WWSU Studio Bookings</h1>

    <div class="container-fluid p-1">
      <!-- Headers -->
      <div class="row">
        <div class="col-6">
          <h2 class="text-center" style="font-size: 3vh">
            <i class="fas fa-arrow-left text-info p-3"></i>Production Studio
          </h2>
        </div>
        <div class="col-6">
          <h2 class="text-center" style="font-size: 3vh">
            On-Air Studio<i class="fas fa-arrow-right text-danger p-3"></i>
          </h2>
        </div>
      </div>

      <!-- Reservation buttons -->
      <div class="row p-2">
        <div class="col-6 text-center">
          <button
            class="btn btn-info"
            id="reserve-production"
            style="font-size: 3vh"
          >
            Reserve Production Studio
          </button>
        </div>
        <div class="col-6 text-center">
          <button
            class="btn btn-danger"
            id="reserve-onair"
            style="font-size: 3vh"
          >
            Reserve On-Air Studio
          </button>
        </div>
      </div>

      <!-- Reservation table -->
      <div class="row p-2">
        <div class="col-6">
          <div
            class="card bg-secondary border border-info"
            id="status-production-card"
          >
            <div class="card-header text-center">
              <h3
                class="card-title font-weight-bolder"
                id="status-production-text"
                style="font-size: 4vh"
              >
                UNKNOWN
              </h3>
            </div>
            <div class="card-body position-relative">
              <h4 class="text-center" style="font-size: 3vh">
                Reservations (next 24 hours)
              </h4>
              <table
                class="table table-striped text-wrap"
                style="width: 100%; overflow: scroll; font-size: 2vh"
              >
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Reserved By</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody id="reservations-production"></tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div
            class="card bg-secondary border border-danger"
            id="status-onair-card"
          >
            <div class="card-header text-center">
              <h3
                class="card-title font-weight-bolder"
                id="status-onair-text"
                style="font-size: 4vh"
              >
                UNKNOWN
              </h3>
            </div>
            <div class="card-body position-relative">
              <h4 class="text-center" style="font-size: 3vh">
                Reservations (next 24 hours)
              </h4>
              <table
                class="table table-striped text-wrap"
                style="width: 100%; font-size: 2vh"
              >
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Reserved By</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody id="reservations-onair"></tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Floating buttons -->
<div class="floating-buttons">
  <div class="alert alert-info" id="modules-loading">
    Loading data from WWSU...
  </div>
  <div class="alert alert-info d-none" id="dom-loading">
    Refreshing web content...
  </div>
</div>
