<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Access Denied - WWSU 106.9 FM</title>

    <!-- Open Sans -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
      media="print"
      onload="this.media='all'; this.onload=null;"
    />

    <!-- Theme style -->
    <link
      rel="stylesheet"
      href="/plugins/adminlte/css/adminlte.min.css?v=202309282334"
    />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
      media="print"
      onload="this.media='all'; this.onload=null;"
    />

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- JQuery BlockUI -->
    <script src="/plugins/jquery-blockui/jquery.blockUI.js"></script>

    <!-- Bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script
      src="/plugins/adminlte/js/adminlte.js?v=202309282334"
    ></script>
    <!-- lodash -->
    <script src="/plugins/lodash/lodash.min.js"></script>

    <!-- Taffy -->
    <script src="/plugins/taffydb/taffy-min.js"></script>
    <!-- Moment -->
    <script src="/plugins/moment/moment.min.js"></script>
    <!-- Moment Duration Format -->
    <script
      src="/plugins/moment-duration-format/moment-duration-format.js"
    ></script>
    <!-- Moment recur -->
    <script src="/plugins/moment-recur-ts/moment-recur-ts.js"></script>
    <!-- Moment timezone -->
    <script
      src="/plugins/moment-timezone/moment-timezone-with-data.js"
    ></script>

    <!-- Handlebars -->
    <script src="/plugins/handlebars/handlebars.min.js"></script>
    <!-- Alpaca (custom build) -->
    <script src="/plugins/alpaca-wwsu/alpaca.js?v=3"></script>
    <link
      rel="stylesheet"
      href="/plugins/alpaca-wwsu/alpaca.min.css?v=3"
      media="print"
      onload="this.media='all'; this.onload=null;"
    />

    <!--WWSU-->
    <script
      src="/plugins/sails.io/sails.io.js"
      autoConnect="false"
    ></script>
    <script
      src="/plugins/wwsu-modules/js/wwsu-modules.js?v=202309282334"
    ></script>
    <script src="/plugins/wwsu-sails/js/wwsu.js?v=202309282334"></script>
    <script src="/plugins/wwsu-onerror/js/wwsu-onerror.js?v=202309282334"></script>
    <script
      src="/plugins/wwsu-discipline/js/wwsu-discipline.js?v=202309282334"
    ></script>

    <script>
      // Connect socket
      io.sails.reconnectionAttempts = 3; // Upon first loading, we should limit connection attempts to 3. But in the disconnect event, it should be infinity.
      // io.sails.transports = ['polling', 'websocket'];
      let socket = io.sails.connect();

      let wwsumodules = new WWSUmodules(socket);

      wwsumodules
        .add("noReq", WWSUreq, { host: null })
        .add("WWSUonerror", WWSUonerror)
        .add("WWSUanimations", WWSUanimations)
        .add(`WWSUutil`, WWSUutil)
        .add("WWSUdiscipline", WWSUdiscipline);

      let discipline = wwsumodules.get("WWSUdiscipline");

      socket.on("connect", () => {
        discipline.checkDiscipline(() => {

        });
      });
    </script>
  </head>

  <body>
    Access Denied. Please contact wwsu1@wright.edu for more information.
  </body>
</html>
